<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fazendinha.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF55E5351E73905B0065DA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF55E53E1E73905B0065DA1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE8308D1EA3D563009F3DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
